/* ColorWidget */

colorwidget {
  border-radius: 50%;
}

/* DetailsView */

.arguments-view textview,
.arguments-view textview text {
  background: none;
}

/* DiagramHeader */

.diagram-header-arrow {
  transition: -gtk-icon-transform 200ms ease-out;
}

.diagram-header-arrow:dir(ltr) {
  -gtk-icon-transform: rotate(0.5turn);
}

.diagram-header-arrow:dir(rtl) {
  -gtk-icon-transform: rotate(-0.5turn);
}

.diagram-header-arrow.expanded {
  -gtk-icon-transform: rotate(0turn);
}

/* FilterPane */

.filter-pane-row {
  padding: 6px 12px;
}

/* ProgressCell */

progress-cell progress {
  background: var(--accent-bg-color);
  border-radius: 3px;
}

progress-cell {
  min-height: 18px;
  min-width: 100px;
}

progress-cell trough {
  background: color-mix(in srgb, var(--border-opacity) 50%, transparent);
  border-radius: 3px;
}

progress-cell label {
  font-size: 0.9em;
  padding: 1px 3px;
}

progress-cell label.in-progress {
  color: var(--accent-fg-color);
}
